#box1{
    height: 200px;
    width: 200px;
    background-color: darkcyan;
    border:2px solid black;
    font-size:20px;
    transition:all 2s ease-in-out 1s;
}

#box1:hover{
    background-color:sandybrown;
    color:crimson;
}

#box2{
    height: 200px;
    width: 200px;
    background-color:coral;
    border:2px solid black;
    font-size:20px;
    transition:all 2s ease-in-out 1s;
}

#box2:hover{
    background-color: darkgrey;
    color:aqua;
    transform: translateX(200px);
}

#boxes{
    margin:50px;
    padding:20px;
    align-items:center;
}