#loader{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 5px solid #0370A6;
    border-top: 5px solid #A12575;
    animation: spinAnimate 3s ease-in 0s infinite normal;

    /* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name 
animation: 3s ease-in 1s 2 reverse both paused slidein;
*/

}
  
@keyframes spinAnimate{
    from{
        transform: rotate(0 deg);
    }

    to{
        transform: rotate(360 deg);
    }
}
